* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px solid black; */
}

:root {
    --main-purple-clr: #2c0735;
    --name-clr: #4e148c;
    --milk-clr: #ead7ff;
    --rating-bg: #debfff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: var(--milk-clr);
}

h1 {
    color: var(--main-purple-clr);
    font-weight: 900;
    font-size: 5vw;
}

.fas {
    color: #ff7b00;
    padding-inline: 3px;
}

.upper-container-left p {
    color: rgb(39, 38, 38);
    line-height: 1.5rem;
}

.upper-container-left h1 {
    line-height: 3.5rem;
    padding-bottom: 1rem;
}

.all-content-container {
    background-color: white;
    width: 90%;
    margin-inline: auto;
    margin-block: 3rem;
    padding: 6%;
}

.upper-container {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.upper-container-left {
    padding-right: 3rem;
}

.upper-container-right {
    padding-top: 2rem;
}

.rating {
    display: flex;
    align-items: center;
    background-color: var(--rating-bg);
    padding-left: 1.5rem;
    padding-block: 0.60rem;
    border-radius: 3px;
}

.rating > div {
    display: flex;
    align-self: center;
}

.rating-1 {
    margin-bottom: 0.70rem;
    margin-right: 5rem;
}

.rating-2 {
    margin-bottom: 0.70rem;
    margin-right: 2.5rem;
}

.rating-2 {
    margin-bottom: 0.70rem;
}
/*end of top section*/

.bottom-container {
    margin-top: 4rem;
    width: 98%;
}


.user-comment-2 {
    margin-bottom: -1rem;
    margin-top: 1rem;
}

.user-comment-3 {
    margin-bottom: -2rem;
    margin-top: 2rem;
}

.user-comment {
    background-color: var(--main-purple-clr);
    padding: 2rem 1.5rem;
    border-radius: 3px;
}

.user-comment p {
    color: whitesmoke;
}

.user-comment-container {
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

h5 {
    color: whitesmoke;
}

img {
    border-radius: 50%;
}
h6 {
    padding-block: 0.30rem;
}

.user {
    display: flex;
    padding-bottom: 1.2rem;
}

.user-name {
    padding-left: 1rem;
    align-self: center;
}

.user-name h6 {
    color: var(--name-clr);
}

@media  screen and (max-width: 1000px) {
    .upper-container-left h1 {
        font-size: calc(5vw + 20px);
    }

    .all-content-container {
        padding-bottom: 5rem;
    }

    .user-comment-container {
        display: inline;
    }

    .rating-1 {
        margin-right: 0;
    }

    .rating-2 {
        margin-right: 0;
    }

    .upper-container-left {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 0;
    }

    .upper-container {
        display: inline;
    }
}

@media screen and (max-width: 570px){
    .rating {
        flex-direction: column;
        text-align: center;
    }

    .rating > div {
        display: inline;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .rating {
        padding-right: .9rem;
    }
}



